<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block  title%}
             PokeDex
       {% endblock %}
      </title>
    <!-- Custom styles for this template -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">

   <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
      <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranchers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/static/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg pokemon-navbar fixed-top">
      <div class="container">
        <a class=" pokemon-logo navbar-brand" href="{% url "poke:index" %}"><img class="pokemon-logo-img" src="/static/images/pokemon_logo.png"> Pokedex</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="navbar navbar"></div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% block homeActive %}

            {% endblock %}">

              <a class="nav-link" href="{% url "poke:index" %}">Home

              </a>
            </li>
            <li class="nav-item {% block storyActive %}

            {% endblock %}">
              <a class="nav-link" href="{% url "poke:story" %}">Story</a>
            </li>
            <li class="nav-item {% block pokemonlistActive %}

            {% endblock %}">
              <a class="nav-link" href="{% url "poke:pokemonList" %}">Pokemons</a>
            </li>
            <li class="nav-item {% block generationsActive %}

            {% endblock %}">
              <a class="nav-link" href="{% url "poke:generations" %}">Generations</a>
            </li>
              <li class="nav-item {% block compareActive %}

            {% endblock %}">
              <a class="nav-link" href="{% url "poke:compare" %}">Compare</a>
            </li>

              {% if user.is_authenticated %}
                         <li class="nav-item">
              <a class="nav-link {% block mypokemonsActive %}

            {% endblock %}" href="{% url "poke:trainerDetail" %}">My Pokemons</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url "poke:logout" %}">Logout</a>
            </li>

        {% else %}
                    <li class="nav-item">
              <a class="nav-link {% block betrainerActive %}

            {% endblock %}" href="{% url "poke:be_trainer" %}">Be Trainer!</a>
            </li>
        <li class="nav-item">
              <a class="nav-link {% block loginActive %}

            {% endblock %}
" href="{% url "poke:login" %}">Login</a>
            </li>

            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">


      <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-md-12">

            {% block main %}

            {% endblock %}           <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 pokemon-navbar">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Pokedex 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/custom.js"></script>

  </body>

</html>
