{% extends 'poke/base.html' %}


{% block title %}
{{ object.Name }} Detail
{% endblock %}

{% block pokemonlistActive %}
            active
            {% endblock %}


{% block main %}

    <div class="card">



    <!--Card content-->
    <div class="card-body">
        <!--Title-->

<div class="container">
      <div class="row">


        <div class=" col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info pokemon-panel">
            <div class="panel-heading text-lg-left">
                 <a> <button type="button" class="pokemon-name btn btn-warning ribbon">{{ object.Name }}</button></a>

            </div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                <div class="col-xs-10 col-sm-10" align="center"> <img alt="Pokemon Pic" src="{{ object.Picture.url }}" class="img-circle img-responsive"> </div>

                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>

                        <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Type:</td>
                        <td><span class="pokemon-type pokemon-type-{{ object.GetType }}">{{ object.GetType }}</span></td>
                      </tr>
                      <tr>
                        <td>Generation:</td>
                        <td>{{ object.GetGeneration }}</td>
                      </tr>
                      <tr>
                        <td>Weight:</td>
                        <td>{{ object.Weight }} kg</td>
                      </tr>
                      <tr>
                        <td>Height : </td>
                        <td>{{ object.Height }} cm</td>
                      </tr>
                        <tr>
                        <td>Gender : </td>
                        <td>{{ object.GetGender }}</td>
                      </tr>

                        <tr>
                        <td>Special Skills : </td>
                        <td>{{ object.Abilities  }}</td>
                      </tr>



                              {% if user.is_authenticated %}

                           <tr>

                             <td><a href="{% url "poke:addToTrainer" object.pk %}"><button class="btn btn-warning"> Add </button></a> </td>
                       </tr>
                     {% endif %}

                    </tbody>
                  </table>

                </div>
</div>
                  <div class="col-md-6">
                                  <div class=" col-md-12">
                     <div class="panel panel-primary">
                    <div class="panel-heading">
              <h4 class="panel-title">Abilities</h4>

                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td class="pokemon-w-10">HP</td>
                        <td class="pokemon-w-10">{{  object.HP }}</td>
                        <td><div class="progress">
                       <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{  object.HP }}"
                      aria-valuemin="0" aria-valuemax="300" style="width:{% widthratio object.HP 3 1 %}%">
                                         </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="pokemon-w-10">Attack</td>
                        <td class="pokemon-w-10">{{  object.Attack }}</td>
                        <td><div class="progress">
                       <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{  object.Attack }}"
                      aria-valuemin="0" aria-valuemax="300" style="width:{% widthratio object.Attack 3 1 %}%">
                                         </div>
                             </div></td>
                      </tr>
                      <tr>
                        <td class="pokemon-w-10">Defence</td>
                        <td class="pokemon-w-10"> {{  object.Deff }}</td>
                        <td><div class="progress">
                       <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{  object.Deff }}"
                      aria-valuemin="0" aria-valuemax="300" style="width:{% widthratio object.Deff 3 1 %}%">
                                         </div>
                             </div></td>
                      </tr>
                      <tr>
                        <td class="pokemon-w-10">Speed </td>
                        <td class="pokemon-w-10">{{  object.Speed }} </td>
                        <td><div class="progress">
                       <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{  object.Speed }}"
                      aria-valuemin="0" aria-valuemax="300" style="width:{% widthratio object.Speed 3 1 %}%">
                                         </div>
                             </div></td>
                      </tr>


                      </tr>

                    </tbody>
                  </table>
      </div>

                </div>
              </div>
<div class="col-md-12">

    <div class="list-group">
        {% for pokemon in Similars %}
          <div class="list-group-item list-group-item-action pokemon-panel align-items-start">
        <div class="row">
            <div class="col-md-6">
          <span class="pokemon-name"> {{ pokemon.Name }}</span>

                </div>
            <div class="col-md-6"> <img src="{{ pokemon.Picture.url }}" class="img-150-150"/>
                    </div>
            <div class="col-md-6 text-lg-center"> <span class="pokemon-type pokemon-type-{{ pokemon.GetType }}">{{ pokemon.GetType }}</span></div>

               </div>
              <div class="col-md-6 pt-sm-4 ">
                  <span  >{{  pokemon.Abilities  }}</span>
              </div>

        <div class="row"><div class="col-md-6">  <a href="{% url "poke:compareFast" object.pk pokemon.pk %}"><button class="btn btn-sm btn-warning "><i class="fa fa-compress" aria-hidden="true"></i> Compare </button></a>

         </div><div class="col-md-6">
              <a href="{% url "poke:pokeDetail" pokemon.pk %}" ><button type="button" class="btn btn-sm btn-success "> <i class="fa fa-search" aria-hidden="true"></i> &nbsp; Detail </button></a>
         </div></div>
          </div>
        {% endfor %}



    </div>
        </div>


                  </div>
            </div>

            </div>


          </div>
        </div>
      </div>
    </div>

    </div>

</div>








{% endblock %}
