{% extends 'poke/base.html' %}

{% block title %}
Generations
{% endblock %}

{% block generationsActive %}
            active
            {% endblock %}

{% block main %}


<div class="container col-md-offset-4 col-md-4  pokemon-center">
<div class="panel panel-default m-5">
    <div class="panel panel-heading pokemon-title"> Generations</div>
  <div class="panel-body">
<div class="list-group pokemon-panel">
    {% for foo in object_list %}
         <a href="{% url "poke:pokemonListGenerations" foo %}" class="list-group-item center pokemon-title" style="text-align: center"><span class="badge">{{ foo }}</span></a>
{% endfor %}
</div>
  </div>
</div>
</div>


{% endblock %}