{% extends 'poke/base.html' %}
{% block main %}
<div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Item One</a>
                  </h4>
                  <h5>Pokemon Name</h5>
                  <p class="card-text">Properties</p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-md ">Detail</button>
                </div>
              </div>
            </div>



          </div>
{% endblock %}