{% extends 'poke/base.html' %}
{% block main %}
      {% if user.is_authenticated %}
    <div class="container m-5">
    <div class="row pokemon-center" >
    <div class="col-md-6 ">
        <a href="{% url "poke:trainerDetail" %}">
<button type="button" class="btn btn-success ribbon">Welcome {{ user.username }}&nbsp;!</button></a>
</div>
    </div>
</div>
    {% else %}

       <div class="container m-5">
    <div class="row pokemon-center" >
    <div class="col-md-6 ">
        <a href="{% url "poke:be_trainer" %}">
<button type="button" class="btn btn-success ribbon">Be a Trainer!!</button></a>
</div>
    </div>
</div>
    {% endif %}
<div class="row">
{% for pokemon in object_list %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class=" center-block pokemon-col card" >
                <a class="text-lg-center" href="{% url "poke:pokeDetail" pokemon.id %}"><img class="card-img-top img-responsive img-250-250" src="{{ pokemon.Picture.url }}" alt=""></a>
                <div class="card-body  text-md-center m-2">
                  <h4 class="card-title  m-3">
                    <a href="{% url "poke:pokeDetail" pokemon.id %}" class="pokemon-name" >{{ pokemon.Name }}</a>
                  </h4>
                  <span class="pokemon-type pokemon-type-{{ pokemon.GetType }}">{{ pokemon.GetType }}</span>
                </div>
                <div class="card-footer">
               <a href="{% url "poke:pokeDetail" pokemon.id%}">  <button class="btn btn-md btn-success- ">Detail</button></a>
                </div>
              </div>
            </div>
{% endfor %}
          </div>
<div class="container m-3">
  <div class="panel panel-primary">
    <div class="panel-heading h3 m-3 border-box-sizing  xterm-bg-color-57 text-danger ribbon">Last 3 Compares</div>
    <div class="panel-body">
        <div class="list-group text-lg-center">
            {% for Compare in LastCompares %}
                    <a href="{% url "poke:compareDetail" Compare.pk %}" class="list-group-item list-group-item-warning">
                    <div class="row">  <div class="col-md-3">
                            {{ Compare.CompareTime }}
                    </div>
                      <div class="col-md-6">
                                {{ Compare }}
                        </div>

                    </div>



                    </a>

            {% endfor %}


            </div>



    </div>
  </div>




    </div>
</div>
{% endblock %}