{% extends 'poke/base.html' %}

{% block title %}
Story
{% endblock %}

{% block main %}

<div class="containerfluid">
    <div class="banner" style="width:100%;">
        <img src="http://bellbookandcomic.com/assets/img/pkm-Banner.jpg" class="fit banner-image" >

        <div class="profile-container" style="">
            <div class="profile-image overflow-centered">
                <img src="http://i.imgur.com/yIUgF5Y.jpg" class="fit" alt="Avatar" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <ul class="nav nav-pills nav-stacked col-md-1">
      <li role="presentation" class="active text-center"><a href="#">A</a></li>
      <li role="presentation" class="text-center"><a href="#">B</a></li>
      <li role="presentation" class="text-center"><a href="#">C</a></li>
    </ul>
    <!--<div class="element-nav">
        <div class="row">
            <div class="tab-option col-md-3 text-center">Option 1</div>
            <div class="tab-option col-md-3 text-center">Option 1</div>
            <div class="tab-option col-md-3 text-center">Option 1</div>
            <div class="tab-option col-md-3 text-center">Option 1</div>
        </div>
    </div>-->
    <div class="content col-md-10" style="font-size: 16px">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin sed magna ut luctus. Sed eget quam et eros fermentum lacinia. Nulla pulvinar urna vitae orci ullamcorper ultrices. Nullam tincidunt facilisis ex. Integer condimentum mauris non faucibus vestibulum. Aenean ornare consequat justo id pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vel nulla quis enim pulvinar consequat. Nulla facilisi. Donec at ante tellus. Nullam sed purus quis tortor maximus posuere.

Sed mi purus, consectetur sit amet luctus in, fermentum vitae nisl. Vestibulum porta egestas arcu, in luctus turpis sollicitudin id. Cras fringilla, metus venenatis faucibus tempor, erat lacus pretium massa, et iaculis arcu ante eget urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam tempor, elit id consequat ultricies, turpis ex accumsan ipsum, quis vestibulum sem velit et dui. Etiam scelerisque tortor quis lacus aliquam efficitur. In dapibus pellentesque ipsum, sed molestie risus efficitur ac. Etiam eget nisi non libero sollicitudin maximus. Etiam et diam rutrum, efficitur odio ut, luctus tellus. Duis aliquam metus dolor, sit amet luctus turpis maximus non. Proin at sagittis mauris. Vivamus pretium maximus odio sit amet ultrices. Nulla purus nunc, fermentum vel tincidunt laoreet, efficitur ut mauris. Nam eget dolor blandit, mollis odio at, pharetra dui. Donec porttitor purus ligula, nec gravida ipsum sollicitudin ac.

Nullam et tristique arcu, id blandit mi. Aliquam erat volutpat. Nulla blandit commodo aliquam. Aliquam erat volutpat. Nullam turpis risus, molestie et arcu nec, laoreet vulputate risus. Aenean pretium augue dolor, sed varius justo venenatis eu. Aenean dolor libero, tristique id ornare vitae, sollicitudin ut diam.

Quisque luctus auctor mauris, a condimentum nunc sagittis vel. Quisque blandit nibh sed enim posuere iaculis. Sed vehicula sem semper, placerat metus in, efficitur magna. Aenean mi enim, congue id magna a, varius vehicula nisl. Proin in dui consectetur, molestie tortor at, pellentesque purus. Mauris efficitur ipsum non egestas ornare. In sed condimentum nisl.

Mauris justo nisl, feugiat nec ante quis, pharetra dignissim risus. Aliquam a aliquet lacus, at vulputate magna. Sed non mi sit amet nunc pellentesque hendrerit vel ac sapien. Aliquam erat volutpat. Integer a felis in quam malesuada congue in nec enim. Sed dictum faucibus enim in luctus. Aliquam ac nisi vitae sapien blandit vestibulum vel ut eros. Aliquam vel libero ac nisl vehicula placerat a sit amet metus. Praesent sodales vulputate dui et vehicula. Etiam elementum est augue, eget tincidunt ipsum molestie a. Praesent ac porttitor magna, et vehicula sapien.
    </div>
    </div>
</div>

{% endblock %}