
/*Remove that CSS*/
.col-md-3 {
    margin-left:5%;
    }
/*Remove that CSS*/

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 10%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px; !important
}


button {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline:none !important;
  width:100%;
}

button:active {

  outline:none;
}

button.ribbon {
  
  outline:none;
  outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}

button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}

button.btn-default:before {
  border-color: #757575 #757575 #757575 transparent;
    }
    button.btn-default:after {
  border-color: #757575 transparent #757575 #757575;
    }
    
    
    
    button.btn-primary:before {
  border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
    }
    button.btn-primary:after {
  border-color: #2e6da4 transparent #2e6da4 #2e6da4;
    }
    
    
    button.btn-success:before {
  border-color: #398439 #398439 #398439 transparent;
    }
    button.btn-success:after {
  border-color: #398439 transparent #398439 #398439;
    }
    
    
    button.btn-info:before {
  border-color: #269abc #269abc #269abc transparent;
    }
    button.btn-info:after {
  border-color: #269abc transparent #269abc #269abc;
    }
    
    
    button.btn-warning:before {
  border-color: #d58512 #d58512 #d58512 transparent;
    }
    button.btn-warning:after {
  border-color: #d58512 transparent #d58512 #d58512;
    }
    
    
    button.btn-danger:before {
  border-color: #ac2925 #ac2925 #ac2925 transparent;
    }
    button.btn-danger:after {
  border-color: #ac2925 transparent #ac2925 #ac2925;
    }
    
    .overflow-centered img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.overflow-centered {
    position:relative;
    overflow:hidden;
}
.profile-container {
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 5%;
    position: absolute;
}
.profile-image {
    padding-top: 100%;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border: 2px solid;
    border-bottom: 0px;
    border-color: #ccc;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.element-nav{
    height: 65px;
    border-top: 3px solid;
    border-color: #ccc;
    position: relative;
}

.banner {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid;
    border-color: #ccc;
    margin-bottom: 20px;
}

.banner-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.banner-title {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 28%;
    color: white;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2))
}

.banner-title h1 {
    position: absolute;
    bottom: 10%;
    font-size: 3.5em;
}

.tab-option {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.portrait {
    width: 100%;
}
.landscape {
    height: 100%;
}
img.img-250-250{

    height: 250px;
    width: 250px;
}
img.img-150-150{

    height: 150px !important;
    width: 150px !important;
}
span.pokemon-type{
    font-size: 14px;
    border-radius: 15px;
    padding: 3px 11px;
    color: white;
    font-weight: 500;
    font-family: 'Bungee', cursive;
}
.pokemon-center{
        display: flex;
    justify-content: center;
}
span.pokemon-type-Fire{
    background-color: orange;
}
span.pokemon-type-Water{
    background-color: #414aff;
}
span.pokemon-type-Poison{
    background-color: #094e08;
}
span.pokemon-type-Grass{
    background-color: #73ff4f;
}
span.pokemon-type-Bug{
    background-color: #614415;
}
span.pokemon-type-Electric{
    background-color: yellow;
}
span.pokemon-type-Ice{
    background-color: #5cfbff;
}
span.pokemon-type-Fairy{
    background-color: #f880ff;
}
span.pokemon-type-Ground{
    background-color: saddlebrown;
}
span.pokemon-type-Dark{
    background-color: #000000;
}
span.pokemon-type-Psychic{
    background-color: #bb57ff;
}
span.pokemon-type-Fighting{
    background-color: #5b0008;
}
span.pokemon-type-Ghost{
    background-color: #bb57ff;
}
span.pokemon-type-Flying{
    background-color: #e0a800;
}


.pokemon-name{
    font-size: 40px;
    font-family: 'Ranchers', cursive;
}
.pokemon-w-10{
    width: 10%;
}
.pokemon-title{
    font-size: 50px;
    font-family: 'Ranchers', cursive;
    font-weight: bold;
}
.pokemon-panel{
    border: solid 3px lightgrey;
    padding: 2%;
    border-radius: 25px;
}
.pokemon-col{
    padding-top: 5%; !important;
    border-radius: 25px;
    border : solid 2px grey; !important;

}

.pokemon-logo{

    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    font-weight: bold;
    color :white;
}

.pokemon-logo:hover{

    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    font-weight: bold;
    color :black !important;
}

.nav-link{
        color: white;

}


.nav-link:hover{
        color: white !important;
}
.nav-link{
        background-color: #c82333;
    border-radius: 10px;

    margin: 3px 3px;
    transition: 0.2s;
    font-weight: bold;
}

.active{
       background-color: #c04040;
    border-radius: 20px;
   padding: -2px -2px 2px 2px;
    margin: 3px 3px;
}

.nav-link:hover{
        background-color: #c04040;
    border-radius: 20px;
   padding: -2px -2px 2px 2px;
    margin: 3px 3px;
}



.pokemon-navbar{
    background-color: darkred !important;

}

.pokemon-logo-img{
        width: 32px;
    height: 32px;
    margin-bottom: 5px;
}